---
import Pill from "./Pill.astro"
import PillList from "./Pill-list.astro"
const {dates, title, description, company, tech, link } = Astro.props
---

<div class="rounded flex justify-between gap-x-10 p-4 hover:bg-blue-950 lg:mr-4">
    <header aria-label="" class="text-color text-xs w-28">
        {dates}
    </header>
    <div class="flex-grow">
        <h3 class="header-color">
            <span>
                {title}
            </span>
            <span>
                {company}
            </span>
        </h3>
        <p class="text-color">
            {description}
        </p>
        <PillList tech={tech}/>
    </div>
</div>