---
import ProjectCard from "./Project-card.astro";
import bills from "../../src/images/bills.png";
import soylent from "../../src/images/soylent_logo.webp";
import hnc from "../../src/images/HNC.png";
import StickyHeader from "./Sticky-header.astro";

interface Project {
  title: string;
  link: string;
  description: string;
  tech?: Array<string>;
  image?: any;
}

const projects: Array<Project> = [
  {
    title: "Buffalo Bills",
    link: "https://shop.buffalobills.com/",
    description: "Collaborated with design team to rebuild entire E-commerce Site for The Buffalo Bills.",
    tech: ["HTML", "CSS", "Javascript", "Shopify"],
    image: bills,
  },
  {
    title: "Soylent",
    link: "https://soylent.com/",
    description: "Built subscription portal with the Recharge API to help customers manage subscriptions and orders · Created custom scripts for product promotions and tailored experiences · Created reusable widgets used across entire site",
    tech: ["Tailwind", "AlpineJS", "Recharge", "Shopify"],
    image: soylent,
  },
  {
    title: "Hustle N' Code",
    link: "https://hustlencode.io/",
    description: "Developed Online coding platform built to help young teenagers learn how to code ",
    tech: ["Angular", "MongoDB", "Express", "Node"],
    image: hnc
  },
];
---

<section id="PROJECTS">
    <StickyHeader title="PROJECTS" />
  <div>
    <div class="flex flex-col">
      {
        projects.map((project: Project) => (
          <ProjectCard
            title={project.title}
            link={project.link}
            description={project.description}
            tech={project.tech}
            image={project.image}
          />
        ))
      }
    </div>
    <div class="mb-8 lg:mb-0">
      <a class="header-color mt-4 flex items-center px-4 group " href="/projects">
        <span class="group-hover:text-cyan-400 hover:underline underline-offset-4 transition-all"> View Full Project Archive </span>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="ml-1 inline-block h-4 w-4 shrink-0 -translate-y-px transition-transform group-hover:translate-x-2 group-focus-visible:translate-x-2 motion-reduce:transition-none group-hover:fill-cyan-400"
            aria-hidden="true"
            ><path
              fill-rule="evenodd"
              d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
              clip-rule="evenodd"></path></svg
          >
        </span>
      </a>
    </div>
  </div>
</section>
