---
import LinkIcon from "./Link-icon.astro";
import PillList from "./Pill-list.astro";
import { Image } from "astro:assets";

const { title, link, description, tech, image } = Astro.props;
---

<a aria-label={`${title} (Opens in another tab)`} href={link} target="_blank" title={title} class="group flex gap-x-4 hover:bg-blue-950 px-4 py-6 rounded lg:mr-4">
  <div>
    <div class="rounded relative w-32 pt-24 overflow-hidden bg-blue-100">
      {
        image ? (
          <Image
            src={image}
            alt={title}
            width="120"
            class="absolute object-cover inset-0 w-24 m-auto"
          />
        ) : null
      }
    </div>
  </div>
  <div class="flex-grow">
    <h3 class="text-blue-100 group">
        <span class="group-hover:text-cyan-400">
          {title}
        </span>
        <LinkIcon />
    </h3>
    <p class="text-base text-blue-600">
      {description}
    </p>
    <PillList tech={tech} />
  </div>
</a>
