---
import ProjectCard from "./Project-card.astro";
import bills from "../../src/images/bills.avif"

interface Project {
  title: string;
  link: string;
  description: string;
  tech?: Array<string>;
  image?: any;
}

const projects: Array<Project> = [
  {
    title: "Buffalo Bills",
    link: "https://shop.buffalobills.com/",
    description: "t4est",
    tech: ["HTML","CSS", "Javascript"],
    image: bills 
  },
  {
    title: "Chicago Bulls",
    link: "https://shop.bulls.com/",
    description: "testttt",
  },
];
---

<section id="Projects">
  <div>
    <h2 class="text-blue-100 mb-4">PROJECTS</h2>
  </div>
  <div>
    {
      projects.map((project: Project) => (
        <ProjectCard
          title={project.title}
          link={project.link}
          description={project.description}
          tech={project.tech}
          image={project.image}
        />
      ))
    }
  </div>
  <div>
    <a class="header-color mt-4 flex items-center" href="/projects">
        <span>
            View Full Project Archive
        </span>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="ml-1 inline-block h-4 w-4 shrink-0 -translate-y-px transition-transform group-hover:translate-x-2 group-focus-visible:translate-x-2 motion-reduce:transition-none"
          aria-hidden="true"
          ><path
            fill-rule="evenodd"
            d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
            clip-rule="evenodd"></path></svg
        >
      </span>
    </a>
  </div>
</section>
